@media (min-width:1180px) and (max-width:1420px){
/*-----------------------------------------------------------------------------------*/
/*  CARTOCHKA
/*-----------------------------------------------------------------------------------*/
	.content-inner-slider .bx-wrapper .bx-next {right: 0;}
	.content-inner-slider .bx-wrapper .bx-prev {left: 0;}
	.tabs .bx-wrapper .bx-next {right: 0;}
	.tabs .bx-wrapper .bx-prev {left: 0;}
}
@media (min-width:1180px) and (max-width:1279px){
	div.catalog-block {min-height: 435px;}
}
@media (min-width:640px) and (max-width:1024px){
/*-----------------------------------------------------------------------------------*/
/*  INDEX
/*-----------------------------------------------------------------------------------*/
	/* title-block */
	ul.tb-left {width: 100%;}
	ul.tb-left a {display: block; width: 40%; margin: 0 auto;}
	div.tb-right {width: 100%;}
	/* ci-slider4 */
	div.ci-slider4 {padding-top: 0;}
	div.cis-text {width: 100%; padding-bottom: 50px;}
	div.cis-text ul {padding-top: 30px;}
	div.slider4-block {width: 100%;}
	/* last-news */
	div.last-news-text {width: 100%; float: none;}
	article.media {width: 50%; float: left;}
	.media:nth-child(odd) {padding-right: 17px;}
	.media:nth-child(even) {padding-left: 17px;}
	.media-img {width: 20%;}
	div.media-text {width: 75%;}
	div.last-news-img {width: 100%; padding: 50px 0px 0 0px;}
}
@media (min-width:830px) and (max-width:1000px){
/*-----------------------------------------------------------------------------------*/
/*  BASKET
/*-----------------------------------------------------------------------------------*/
	ul.basket-price-title{width: 320px;}
	ul.basket-price-title li {margin-right: 0;}
	ul.ci-basket-left {width: 485px;}
	ul.ci-basket-right {width: 320px;}
	ul.ci-basket-right li {margin-right: 0;}
}
@media (min-width: 767px) { 
 .nav-header-left > li:hover > span{background: url(../images/header/nav-header-left-after-active.png) no-repeat;}
}
@media (min-width:768px) and (max-width:1279px){ 
	div.header-inner {min-height: 90px; padding: 15px 10px 0 10px; font-size: 12px;}
	h1.logo-text {padding: 10px 39px 10px 0; float: none;}
	.nav-header-left > li:nth-child(2) > a {margin-left: -5px;}
	.nav-header-left li:last-child a {padding-right: 0;}
	nav.nav-header-left li a {padding: 6px 28px 13px 6px;}
	nav.nav-header-left > li > span {right: 13px; top: 8px;}
	ul.block-nav {top: 24px;}
	ul.first-block-nav {left: -10px;}

	nav.nav-header-right li {padding: 5px 0 0 0px;}
	nav.nav-header-right {width: auto;}
	form.form-search {position: absolute; top: 50px; right: 15px; width: 162px; padding-left: 0; float: none;}
	/* page-title-map */
	div.page-title-map {padding-left: 10px;}
	/* content-inner */
	.content-inner {padding: 0 10px 87px 10px;}
	div.content-inner-text p {width: 72%; padding: 17px 0px 0 0;}
	.roughSkin li{min-height: 300px;}
	/* footer */
	nav.fn-3 {width: 23%;}
	nav.fn-4 {width: 20%;}

 
}
@media (min-width:768px) and (max-width:1180px){ 
	ul.ci-desc li {width: 25%;}
	.ci-desc li > a > div > img {width: 80%;}
/*-----------------------------------------------------------------------------------*/
/*  CATALOG
/*-----------------------------------------------------------------------------------*/
	ul.ci-catalog li {width: 33%; min-height: 452px;}
	div.catalog-block {min-height: 495px;}
	.ci-catalog li:hover .catalog-block-a {bottom: -43px;}
/*-----------------------------------------------------------------------------------*/
/*  CARTOCHKA
/*-----------------------------------------------------------------------------------*/
	div.content-inner-slider {margin: 0 auto; float: none;}
	div.content-inner-desc {width: 100%; padding-top: 20px; float: none;}
	div.content-inner-desc h2{text-align: center;}
	.content-inner-desc h2 br{display: none;}
	div.price-block {width: 202px; margin: 0 auto; padding: 0;}
	ul.from-monblanck {width: 300px; margin: 0 auto;}
 	.tabs .bx-wrapper .bx-next {right: 0;}
	.tabs .bx-wrapper .bx-prev {left: 0;}
	div.bx-wrapper .ci-catalog li {width: 33%; min-height: 460px;}
}

@media (min-width:768px) and (max-width:783px) { 
	nav.nav-header-left{display: block !important;}
	.toggleMenu {display: none !important;}

}
@media (min-width:640px) and (max-width:829px){
/*-----------------------------------------------------------------------------------*/
/*  BASKET
/*-----------------------------------------------------------------------------------*/
	ul.basket-price-title{width: 40%;}
	ul.basket-price-title li {width: 33%; margin-right: 0;}
	ul.ci-basket-left {width: 60%;}
	div.basket-img-block {margin: 0 auto; float: none;}
	div.desc-artc {margin: 0 auto; float: none;}


	ul.ci-basket-right {width: 40%;}
	ul.ci-basket-right li {width: 33%; margin-right: 0;}
	ul.ci-basket-right .price {font-size: 19px;}
}
@media (min-width:640px) and (max-width:767px){ 
	ul.ci-desc li {width: 33%;}
	.ci-desc li > a > div > img {width: 70%;}
/*-----------------------------------------------------------------------------------*/
/*  CATALOG
/*-----------------------------------------------------------------------------------*/
	ul.ci-catalog li {width: 50%;min-height: 442px;}
	div.catalog-block {min-height: 515px;}
	.ci-catalog li:hover .catalog-block-a {bottom: -73px;}
}
/*----------------------------------------------*/


@media (min-width:500px) and (max-width:767px) { 
	.header-inner nav.nav-header-right {width: 400px;}
	nav.nav-header-right > li.nav-phone {padding-left: 0;}
	div nav.nav-header-right > li {padding: 5px 0 10px 22px;}
	div.header-inner {min-height: 55px;}
}

@media (min-width:390px) and (max-width:639px){ 
	ul.ci-desc li {width: 50%;}
	.ci-desc li > a > div > img {width: 65%;}
/*-----------------------------------------------------------------------------------*/
/*  CATALOG
/*-----------------------------------------------------------------------------------*/
	ul.ci-catalog li {width: 82%; margin: 0 auto; float: none;}
	div.catalog-block {min-height: 597px;}
	.ci-catalog li:hover .catalog-block-a {bottom: -125px;}
/*-----------------------------------------------------------------------------------*/
/*  CARTOCHKA
/*-----------------------------------------------------------------------------------*/
	.content-inner-slider .bx-wrapper .bx-next {right: 0;}
	.content-inner-slider .bx-wrapper .bx-prev {left: 0;}
	.tabs .bx-wrapper .bx-next {right: 0;}
	.tabs .bx-wrapper .bx-prev {left: 0;}
}

@media (min-width:100px) and (max-width:767px){ 
	.nav {display: none; background:#ccc;}
	nav.nav a {padding: 10px 15px; color:#fff;}
	.nav li {position: relative;}
	.nav > li {border-top: 1px solid #808080;}
	.nav li li a {display: block; background: none; position: relative; z-index:100; border-top: 1px solid #808080;}
	.nav li li li a {background: none; z-index:200; border-top: 1px solid #808080;}
	ul.block-nav > li li{padding-left: 10px;}
	    ul.block-nav .active {display: block;}
	    .nav ul {display: block; width: 100%;}
	   .nav > li.hover > ul , .nav li li.hover ul {position: static; overflow: hidden;}

	a.toggleMenu{display: block;}
	div.header-inner {font-size: 14px;}
	.nav-header-left {position: absolute; top: 46px; z-index: 10000; width: 100%; font-size: 16px;}
	h1.logo-text {float: none;}
	nav.nav-header-left > li {width: 100%; float: none;}
	nav.nav-header-left > li > a {padding-top: 10px; padding-bottom: 10px;}
	nav.nav-header-left > li:hover > ul {display: none;}
	nav.nav-header-left > li:hover > a {color: #fff; background: none;}
	nav.nav-header-left > li > span {position: absolute; top: 5px; display: block; width: 40px; height: 30px; background: url(../images/sprite.png) no-repeat; background-position: 0 -370px;}
	nav.nav-header-left > li.hover > span {background-position: -40px -370px;}
	ul.block-nav {background: none; left: -9999px !important; padding: 0;}
	ul.block-nav > li {width: 100%; padding-top: 0; padding-left: 20px;}
	.nav > li.hover > ul, .nav li ul li.hover ul {position: static; overflow: hidden;}
	ul.block-nav > li > ul{position: absolute;  left: -9999px ; padding: 0;}
	.nav-header-left > li > ul > span {position: static; display: block; width: 40px; height: 30px; background: url(../images/sprite.png) no-repeat; background-position: 0 -370px;}
	.nav-header-left > li > ul > li > a {display: block; width: 100%;}
	.block-nav > li >span{position: absolute; top: 0; right: 0; display: block; width: 40px; height: 30px; background: url(../images/sprite.png) no-repeat; background-position: 0 -370px; z-index: 100;}
	.block-nav > li.hover >span{display: block; width: 40px; height: 30px; background: url(../images/sprite.png) no-repeat; }
	.nav li li.hover span.parent{background-position: -40px -365px;}


	nav.nav-header-right {width: 233px; margin-right: 10px;}
	nav.nav-header-right > li {padding: 5px 0 10px 17px;}
	nav.nav-header-right > li > a {padding: 5px;}
	nav.nav-header-right > li.nav-phone a {padding: 5px 6px 0 24px;}
	.nav-header-right > li > a > span {display: none;}
	.block-nav {position: absolute; left: -9999px; display: block !important;}
	ul.first-block-nav > li > a {font-family: 'Open Sans', sans-serif; font-size: 16px; color: #fff;}

	/* page-title-map */
	div.page-title-map {padding-left: 10px; font-size: 14px;}
	/* content-inner */
	.content-inner {padding: 0 10px 87px 10px;}
	a.logo {display: block; text-align: center; float: none;}
	div.content-inner-text p {width: 100%; font-size: 16px; padding: 17px 0px 0 0;}
	.roughSkin li{min-height: 300px;}
	.ci-desc li > a > span {font-size: 15px;}
	/* footer */
	nav.footer-nav {width: 50%; height: 180px; padding-bottom: 20px; font-size: 14px;}
	nav.footer-nav h4 {font-size: 18px;}
/*-----------------------------------------------------------------------------------*/
/*  CARTOCHKA
/*-----------------------------------------------------------------------------------*/	
	div.bx-wrapper {min-height: 500px}
	div.content-inner-slider {margin: 0 auto; float: none;}
	.tabs .bx-wrapper .bx-next {right: 0;}
	.tabs .bx-wrapper .bx-prev {left: 0;}
	div.content-inner-desc {width: 100%; padding-top: 20px; float: none;}
	div.content-inner-desc h2{text-align: center;}
	.content-inner-desc h2 br{display: none;}
	div.price-block {width: 202px; margin: 0 auto; padding: 0;}
	ul.from-monblanck {width: 300px; margin: 0 auto;}
	.tabs .ci-catalog {padding: 40px 0 75px 0;}
	.tabs .ci-catalog li:last-child {margin-bottom: 80px;}
	div.bx-wrapper .ci-catalog li {width: 45%; min-height: 435px; float: left;}
/*-----------------------------------------------------------------------------------*/
/*  CATALOG
/*-----------------------------------------------------------------------------------*/	
	div.select-block {padding: 0;}
	div.select-block > ul > li {padding-bottom: 20px;}
 
}
@media (min-width:100px) and (max-width:639px){
/*-----------------------------------------------------------------------------------*/
/*  BASKET
/*-----------------------------------------------------------------------------------*/
	div.content-inner-basket {padding: 0 2px 87px 10px;}
	div.basket-block {font-size: 11px;}
	ul.basket-price-title{width: 50%;}
	ul.basket-price-title li {width: 33%; margin-right: 0;}
	ul.ci-basket li {padding-bottom: 24px;}
	ul.ci-basket-left {width: 50%;}
	ul.ci-basket-left .delete {margin-top: 50px;}
	div.basket-img-block {width: 100%; margin: 0 auto; padding: 0 0 0 15px; float: none;}
	div.basket-img-block img {width: 67%; height: auto;}
	div.desc-artc {margin: 0 auto; float: none;}


	ul.ci-basket-right {width: 50%; margin-top: 50px;}
	ul.ci-basket-right li {width: 33%; margin-right: 0;}
	ul.ci-basket-right .price {font-size: 13px;}

	div.bascet-checkout {margin-top: 50px;}

/*-----------------------------------------------------------------------------------*/
/*  INDEX
/*-----------------------------------------------------------------------------------*/
	/* title-block */
	ul.tb-left {width: 100%;}
	ul.tb-left a {display: block; width: 40%; margin: 0 auto;}
	div.tb-right {width: 100%;}
	/* ci-slider4 */
	div.ci-slider4 {padding-top: 0;}
	div.cis-text {width: 100%; padding-bottom: 50px;}
	div.cis-text ul {padding-top: 30px;}
	div.slider4-block {width: 100%;}
	/* last-news */
	div.last-news-text {width: 100%; float: none;}
	article.media {width: 100%;}
	.media-img {width: 20%;}
	div.media-text {width: 75%;}
	div.last-news-img {width: 100%; padding: 50px 0px 0 0px;}
	div.last-news-img li {width: 50%;}
	div.last-news-img li:last-child {display: none;}

}
@media (min-width:100px) and (max-width:540px){
	div.bx-wrapper .ci-catalog li {width: 85% !important; min-height: 390px; float: none !important;}
	.select-block > ul > li {width: 50%;}
}

@media (min-width:100px) and (max-width:550px) { 
/*-----------------------------------------------------------------------------------*/
/*  CARTOCHKA
/*-----------------------------------------------------------------------------------*/
	div.tabs {padding: 0 10px;}
	.tabs  ul.tabs__caption {height: 29px;}
	ul.tabs__caption li a {font-size: 10px;}
	ul.tabs__caption li {font-size: 16px;}
	.content-inner-slider .bx-wrapper img {width: 90%; margin: 0 auto;}

}




@media (min-width:100px) and (max-width:500px) { 
	.form-search {display: none;}
	.footer-inner nav.footer-nav{width: 100%; height: auto;float: none;}
/*-----------------------------------------------------------------------------------*/
/*  CARTOCHKA
/*-----------------------------------------------------------------------------------*/
	.content-inner-slider .bx-wrapper img {width: 90%; margin: 0 auto;}
	a.slct, a.slct2, a.slct3, a.slct4 {width: 100%;}
	ul.drop, ul.drop2, ul.drop3, ul.drop4 {width: 43%;}
	


}
/*----------------------------------------------*/



@media (min-width:100px) and (max-width:389px){ 
	ul.ci-desc li {width: 100%;}
	.ci-desc li > a > div > img {width: 60%;}
/*-----------------------------------------------------------------------------------*/
/*  CATALOG
/*-----------------------------------------------------------------------------------*/
	ul.ci-catalog li {width: 100%;}
	div.catalog-block {min-height: 504px;}
	.ci-catalog li:hover .catalog-block-a {bottom: -113px;}
/*-----------------------------------------------------------------------------------*/
/*  CARTOCHKA
/*-----------------------------------------------------------------------------------*/
	.content-inner-slider .bx-wrapper .bx-next {right: 0;}
	.content-inner-slider .bx-wrapper .bx-prev {left: 0;}
/*-----------------------------------------------------------------------------------*/
/*  INDEX
/*-----------------------------------------------------------------------------------*/
	div.cis-text ul li {width: 44%;} 	
}


