@charset "utf-8"; 

@import url(css/media.css);
@import url(css/reset.css); 
/* ----------------------------Блок присоединения шрифтов--------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face {
font-family: 'AzoSans-Medium';
src: url('fonts/AzoSans/AzoSans-Medium.eot');
src: url('fonts/AzoSans/AzoSans-Medium.eot?#iefix') format('embedded-opentype'),
 url('fonts/AzoSans/AzoSans-Medium.woff') format('woff'),
 url('fonts/AzoSans/AzoSans-Medium.ttf') format('truetype'),
 url('fonts/AzoSans/AzoSans-Medium.svg#fonts/AzoSans/AzoSans-Medium') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'PalatinoLinotype';
src: url('fonts/PalatinoLinotype/PalatinoLinotype.eot');
src: url('fonts/PalatinoLinotype/PalatinoLinotype.eot?#iefix') format('embedded-opentype'),
 url('fonts/PalatinoLinotype/PalatinoLinotype.woff') format('woff'),
 url('fonts/PalatinoLinotype/PalatinoLinotype.ttf') format('truetype'),
 url('fonts/PalatinoLinotype/PalatinoLinotype.svg#fonts/PalatinoLinotype/PalatinoLinotype') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Times_New_Roman';
src: url('fonts/Times_New_Roman/Times_New_Roman.eot');
src: url('fonts/Times_New_Roman/Times_New_Roman.eot?#iefix') format('embedded-opentype'),
 url('fonts/Times_New_Roman/Times_New_Roman.woff') format('woff'),
 url('fonts/Times_New_Roman/Times_New_Roman.ttf') format('truetype'),
 url('fonts/Times_New_Roman/Times_New_Roman.svg#fonts/Times_New_Roman/Times_New_Roman') format('svg');
font-weight: normal;
font-style: normal;
}
/* ------------------------------ Конец блока присоединения шрифтов ------------------------------*/


/*-----------------------------------------------------------------------------------*/
/*  TYPOGRAPHY
/*-----------------------------------------------------------------------------------*/
body{
    font-family: arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #111;
}
a{
	text-decoration: none;
}
li a:hover{
	text-decoration: underline;
	color: #bfac61;
}
.clear{
	clear: both;
}
/* ------------------------------  Start header ------------------------------ */
header{
	width: 100%;
	background: #111;
}
.header-inner{
	min-height: 60px;
	max-width: 1280px;	
	margin: 0 auto;
    padding: 12px 0 0 0;
	font-size: 12.26px;
	outline: 0px solid #ff0000;
}
.header-inner a{
	color: #fff;
}
.logo-text{
	padding: 10px 39px 19px 0;
	font-family: 'AzoSans-Medium';
	font-size: 20px;	
	letter-spacing: 1px;
	float: left;
}
/* nav-header-left */
.toggleMenu{
	display: none;
	width: 25px;
	height: 25px;
	margin: 5px 0 0 20px;
	background: url(images/header/menu-left.png) no-repeat;
	float: left;
}
.nav-header-left{
    letter-spacing: 0.3px;
	float: left;
}
.nav-header-left > li{
	position: relative;
	float: left;
}
.nav-header-left > li > a{
	display: block;
    padding: 13px 26px 23px 19px;
	text-transform: uppercase;
	word-spacing: 1px;
}
/*.nav-header-left > li:last-child a:after{
	display: none;
}*/
.nav-header-left > li > span{
	position: absolute;
    right: 10px;
    top: 15px;
    width: 11px;
    height: 6px;
    background: url(images/header/nav-header-left-after.png) no-repeat;
}
.nav-header-left > li:hover > a{
	text-decoration: none;
	background: #fff;
	color: #111;
}
.nav-header-left > li:last-child:hover > a{
	text-decoration: none;
	background: none;
	color: #fff;
}

/* block-nav */
.block-nav{
	display: none;
	position: absolute;
	top: 37px;
	left: -50px;	
	padding: 0px 0 45px 57px;	
	background: #fff;
	border: 1px solid #cfcfcf;
    border-top: none;	
	z-index: 100;
}
.first-block-nav{
	width: 700px;
	left: -153px;
}
.nav-header-left > li:hover > ul{
	display: block;
	z-index: 10000;
}
.block-nav > li > ul > a{
	padding-bottom: 10px;
	font-family: 'Times_New_Roman';
	font-size: 18px;
	color: #111;
}
.block-nav a{
	font-family: 'Open Sans', sans-serif;
	line-height: 24px;
	color: #111;
}
.block-nav > li{
    width: 212px;
	padding-top: 20px;
	float: left;	
}
.block-nav > li > ul{
    padding-top: 17px;
}
/* nav-header-right */
.nav-header-right{
    width: 567px;
	padding-top: 3px;
	float: right;
}
.nav-header-right > li{
	padding: 5px 20px 0 0px;
	float: left;
}
.nav-header-right > li > a{
	position: relative;
	display: block;
	padding: 5px 10px 0 28px;
	letter-spacing: -0.5px;
}
li.nav-phone a{
    padding: 5px 6px 0 24px;
    letter-spacing: 0.5px;
}
.nav-phone a:before{
	position: absolute;
	left: 0px;
	top: 0px;
    content: "";
    width: 8px;
    height: 18px;
    background: url(images/header/nav-phone-bg.png) no-repeat;
}
.favorites a:before{
	position: absolute;
	left: 0px;
	top: -1px;
    content: "";
    width: 22px;
    height: 21px;
    background: url(images/header/favorites-bg.png) no-repeat;
}
.card a:before{
	position: absolute;
	left: 5px;
	top: 0px;
    content: "";
    width: 13px;
    height: 21px;
    background: url(images/header/card-bg.png) no-repeat;
}
.form-search{
	position: relative;
	float: right;
}
.form-search input[type=text]{
	width: 162px;
	height: 28px;
	padding: 0 20px 0 12px;
	border: 1px solid #c3c3c3;
}
.form-search input[type=submit]{	
	position: absolute;
	top: 6px;
	right: 2px;
	width: 19px;
	height: 17px;
	background: #fff url(images/header/form-search-submit.png) no-repeat;
	border: none;
}
.form-search ::-webkit-input-placeholder {
    font-size: 12px;
    color: #c3c3c3;
}
.form-search :-moz-placeholder {
    font-size: 12px;
    color: #c3c3c3;
}
.form-search ::-moz-placeholder {
    font-size: 12px;
    color: #c3c3c3;
}
.form-search :-ms-input-placeholder {
    font-size: 12px;
    color: #c3c3c3;
}


/* ------------------------------  Stop header ------------------------------ */
/* ------------------------------  Start page-title-map ------------------------------ */
.page-title-map{	
	max-width: 1280px;
	margin: 0 auto;
	outline: 0px solid #ff0000;
}
.page-title-map ul{
	overflow: hidden;
}
.page-title-map li{
	float: left;
}
.page-title-map li:first-child a{
	padding-left: 0;
}
.page-title-map li:last-child a:after{
	display: none;
}
.page-title-map a{
	position: relative;
	display: block;
    padding: 23px 15px 24px 11px;
	color: #111;
}
.page-title-map a:after {
    content: '\203A'; /* выведет › */
    position: absolute;
    right: 0px;
    top: 21px;
    display: block;
    font-size: 16px;
}
.page-title-map a.active-post{
	color: #7c7b7b;
}

/* ------------------------------  Stop page-title-map ------------------------------ */
/* ------------------------------  Start content ------------------------------ */
.content{
	width: 100%;
}
.content-inner{
	max-width: 1280px;
	margin: 0 auto;
	padding-bottom: 87px;
	outline: 0px solid #00cf00;
}
.content-inner h2{
	padding: 3px 0 15px 0;
    letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Times_New_Roman';
	font-size: 30.22px;
}
/* content-inner-text */
.content-inner-text{
	overflow: hidden;
	padding-bottom: 22px;
}
.logo{
	float: left;
}
.content-inner-text p{
	width: 80%;
    padding: 17px 102px 0 0;
    line-height: 25px;
    font-size: 14px;
    color: #000;
    letter-spacing: 0.3px;
    float: right;
}
/* ci-desc */
.ci-desc{
	overflow: hidden;
	padding: 34px 0 0 0;
}
.roughSkin{
    padding-bottom: 18px;
}
.fineLeather{
	    padding-bottom: 3px;
}
.accessories{
	padding-bottom: 19px;
}
.ci-desc h3{
	padding-bottom: 37px;
	text-transform: uppercase;
	font-family: 'PalatinoLinotype';
	font-size: 18px;
	font-weight: 600;
	color: #000;
    letter-spacing: 0.8px;
}
.roughSkin h3{
	padding-bottom: 18px;
}
.fineLeather h3{
	padding-bottom: 25px;
}
.accessories h3{
	padding-bottom: 30px;
}
.consumables h3{
    padding-bottom: 30px;
}
.ci-desc li{
	width: 16.66%;
	float: left;
}
.ci-desc li > a{
	display: block;
}
.ci-desc li > a > div{
	min-height: 175px;
}
.ci-desc li > a > div > img{
    display: block;
	margin: 0 auto;
}
.ci-desc li > a > span{
	display: block;
	padding: 18px 16px 20px 0;    
    line-height: 17px;
	text-align: center;
	text-transform: uppercase;
    color: #111;
    letter-spacing: .4px;
}
.fineLeather li > a > span{
	padding: 4px 16px 34px 0;
}
.accessories li > a > span{
    padding-top: 14px;
}
.consumables li > a > span{
	padding-top: 21px ;
}
.ci-desc li > a > span:hover{
	color: #bfac61;
}
/* ------------------------------  Stop content ------------------------------ */
/* ------------------------------  Start footer ------------------------------ */
footer{
	width: 100%;
	background: #111;
}
.footer-inner{
	overflow: hidden;
	max-width: 1280px;
	margin: 0 auto;
	padding: 25px 35px;
	outline: 0px solid #ff0000;
}
.footer-nav{	
	float: left;
}
.fn-1{
	width: 27%;
}
.fn-2{
	width: 30%;
}
.fn-3{
	width: 25%;
}
.fn-4{
	width: 18%;
}
.footer-nav h4{
	padding-bottom: 8px;
	text-transform: uppercase;
	color: #fff;
}
.footer-nav a, .footer-nav span{
	display: inline-block;
	line-height: 20px;
	color: #fff;
}
/* ------------------------------  Stop footer ------------------------------ */
/*-----------------------------------------------------------------------------------*/
/*  CATALOG
/*-----------------------------------------------------------------------------------*/
/* selected-block */
.select-block{
	padding: 54px 0 0px 0;
}
.select-block > ul{
	overflow: hidden;
}
.select-block > ul > li{
    padding: 0 15px 52px 0;
	float: left;
} 
.select-block > ul > li:last-child{
	float: right;
    width: 221px;
    font-size: 13px;
}
.select-block > ul > li:last-child h4{
	padding: 24px 0 5px 28px;
    font-size: 13px;
    color: #7c7b7b;
	text-transform: none;
}
.select-block> ul > li > h4{
	padding-bottom: 11px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	color: #c6c6c6;
}
.select-block > ul > li > div a:after{
    position: absolute;
    top: 14px;
    right: 7px;
	content: '';
	width: 10px;
	height: 6px;
	background: #fff url(images/page-catalog/slct-after-bg.png) no-repeat;
}
.select-block > ul > li:last-child a:after{ 
	top: 5px;
    right: 7px;
}
.select-block > ul > li > div a.active:after{
	background: #fff url(images/page-catalog/slct-after-bg-active.png) no-repeat;
}
.select-block li a:hover {
	text-decoration: none;
    color: #111;
}
/* ci-catalog */
.ci-catalog{
	padding: 40px 0 60px 0;
}
.ci-catalog:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.ci-catalog li{
	position: relative;
	width: 25%;
    min-height: 382px;
	padding: 15px 0 28px 0;
	float: left;
}
.ci-catalog li:hover{
	
}
.ci-catalog li:hover > .catalog-block{
	display: block;
}
.ci-catalog li:hover .catalog-block-a{
	position: absolute;
    left: 0;
    z-index: 100;
    display: block;
    width: 91.5%;
    height: 102px;
    padding-top: 14px;
    background: #fff;
}
.catalog-block{
	display: none;
	position: absolute;
    top: 0;
    z-index: 10;
    width: 92%;
    min-height: 464px;
    border: 1px solid #dbdbdb;
    box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.4);
}
.ci-catalog li > a > div{
	min-height: 175px;
}
.ci-catalog li > a > div > img{
    display: block;
    width: 85%;
	margin: 0 auto;
}
.ci-catalog li > a > span{
	display: block;
	padding: 17px 13px 10px 0;
    line-height: 18px;
	text-align: center;
	text-transform: uppercase;
    color: #111;
    letter-spacing: .4px;
}
.ci-catalog li > a > span:hover{
	color: #bfac61;
}
.artc{
    display: block;
	text-align: right;
	padding-right: 11px;
    font-size: 11px;
    color: #999;
}
.ci-catalog li:hover  .artc {
    margin-top: -3px;
    padding-right: 64px;
    font-size: 14px;
}
li > a > span.price{
	padding: 0 14px 0px 0;
	font-size: 22px;
}
.catalog-block-a{
	display: none;
}
.buy{
	display: block;	
	width: 202px;
    height: 37px;
    margin: 0 auto 6px auto;
    padding: 12px 0 0 22px;
    text-align: center;
    text-transform: uppercase;
	background: #111 url(images/page-catalog/buy-bg.png) 64px 7px no-repeat;
	color: #fff;
}
.to-favorite{
	display: block;	
	width: 202px;
	height: 37px;
	margin: 0 auto;
    padding: 12px 0 0 34px;
    text-align: center;
    text-transform: uppercase;
	background: #999 url(images/page-catalog/to-favorite-bg.png) 46px 7px  no-repeat;
	color: #fff;
}
/*-----------------------------------------------------------------------------------*/
/*  CARTOCHKA
/*-----------------------------------------------------------------------------------*/
/* content-inner-slider */
.content-inner-slider{
	max-width: 570px;
	padding: 41px 0 0 0;
	float: left;
}
#bx-pager > a.active > img{
	opacity: .5;
}
#bx-pager > a > img:hover{
	opacity: .5;
}
/* content-inner-desc */
.content-inner-desc{
	width: 567px;
    padding-top: 7px;
	float: right;
}
.content-inner-desc h2{
	line-height: 36px;
	text-align: left;
	letter-spacing: 0.6px;
}
.price-block{
    padding: 10px 0 0 0;
}
.price-block .price{
	font-size: 36px;
	letter-spacing: 1px;
}
.price-block .buy {
    margin: 12px 0 7px 0;
}
.price-block .to-favorite{
	margin: 0;
}
.cid-text{
	padding-top: 28px;
    padding-bottom: 21px;    
    line-height: 25px;
    font-size: 14px;
    color: #000;
    letter-spacing: .25px;
    border-bottom: 1px solid #dbdbdb;
}
.more{
	padding: 0 14px 0 11px;
    letter-spacing: 0.6px;
	text-decoration: underline;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	background: url(images/page-kartochka/more-bg.png) no-repeat center right;
}
.more:hover{
	text-decoration: none;
    color: #bfac61
}
.from-monblanck{
	padding-top: 14px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;	
}
.from-monblanck a{
	display: block;
    padding: 12px 0 12px 30px;
    color: #000;
    letter-spacing: 0.4px;
}
.from-monblanck li:first-child a{
	background: url(images/page-kartochka/from-monblanck/1.png) no-repeat  0px center;
}
.from-monblanck li:nth-child(2) a{
	background: url(images/page-kartochka/from-monblanck/2.png) no-repeat  0px center;
}
.from-monblanck li:last-child a{
	background: url(images/page-kartochka/from-monblanck/3.png) no-repeat  0px center;
}
/* tabs */
div.tabs {
	min-height: 550px;
	max-width: 1280px;
    margin: 0 auto;
    border: 0;
}
ul.tabs__caption {
	height: 45px;
    background: none;
    padding: 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
}
ul.tabs__caption li {
	position: relative;
	padding: 13px 23px;
    letter-spacing: 1.3px;
    cursor: pointer;
	text-transform: uppercase;
	font-family: 'Times_New_Roman';
	font-size: 18px;
	border-radius: 0;
	
	float: left;
}
ul.tabs__caption li a{
	outline: 0 !important;
}
.tabs__caption li.active-tab{
	border: 1px solid #dbdbdb;
	border-bottom: none;
}
.tabs__caption li.active-tab:before{
    position: absolute;
    bottom: 0px;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
}
.tabs__content {
	width: 100%;
	display: none;

}
.tabs__content.active-tab {
	display: block;
}
/* ----- */
.tabs__content .ci-catalog {
    padding: 26px 0 60px 0;
}
#slider3{
	width: 100%;
}
.bx-wrapper .ci-catalog li {
    position: relative;
    width: 24.6%;
    padding-bottom: 50px;
}
/*-----------------------------------------------------------------------------------*/
/*  FAVORITES
/*-----------------------------------------------------------------------------------*/
.content-inner-favorites{
	padding-top: 35px;
}
.delete{
	display: block;
	width: 10px;
	height: 10px;
	background: url(images/page-favorite/delete-bg.png) no-repeat;
	float: left;
}
.delete:hover{
	opacity: 0.7;
}
.ci-favorites .ci-catalog li{
	padding: 0 30px 35px 20px;
}
.ci-favorites .ci-catalog li:hover .artc {
    margin-top: 0;
    padding-right: 11px;
    font-size: 11px;
    float: right;
}
.ci-favorites li > a > span.price {
    padding: 0 0px 13px 0;
}
.ci-favorites .buy {
    width: 164px;
    padding: 12px 0 0 21px;

    background-position:  46px 8px ;
}